<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601731464802-04q387b17b20ibcsb0e043ktvac886op.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601731464802-04q387b17b20ibcsb0e043ktvac886op</string>
	<key>API_KEY</key>
	<string>AIzaSyAap2aL9DkjS-S-BSUSOqUgp_9fnpM5usc</string>
	<key>GCM_SENDER_ID</key>
	<string>601731464802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pdouvch.flutter.allplatforms</string>
	<key>PROJECT_ID</key>
	<string>flutter-all-platforms</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-all-platforms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601731464802:ios:78a65f3f2f60b317899b3b</string>
</dict>
</plist>